<h1>Histórico</h1>

<p>Lista tentativas de processamento do Sistema</p>

<p *ngIf="!historicos"><em>Loading...</em></p>


<table  id="table" class="table table-hover" *ngIf="historicos">
  <thead>
    <tr>
      <th>Codigo</th>
      <th>Tipo de Envio</th>
      <th>Usuario</th>
      <th>Status</th>
      <th>Nº Registro</th>
      <th>Data</th>

    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let h of historicos">
      <td>{{ h.codigo }}</td>
      <td>{{ h.tipoEnvio }}</td>
      <td>{{ h.usuario }}</td>
      <td>{{ h.status }}</td>
      <td>{{ h.codigoRegistro }}</td>
      <td>{{ h.dataTarefa}}</td>
    </tr>
  </tbody>
</table>
<br />
<input id="Button1" type="button" value="Exportar" />
