
Swagger sem banco/.vs/TodoApi/v16/.suo
Swagger sem banco/.vs/TodoApi/v16/.suo
Swagger sem banco/.vs/TodoApi/v16/Server/sqlite3/storage.ide-shm
Swagger sem banco/.vs/TodoApi/v16/Server/sqlite3/storage.ide
Swagger sem banco/.vs/TodoApi/v16/.suo
Swagger sem banco/.vs/TodoApi/DesignTimeBuild/.dtbcache
