
TGCTE/.vs/TGCTE/config/applicationhost.config
TGCTE/.vs/TGCTE/v16/.suo
TGCTE/.vs/TGCTE/v16/Server/sqlite3/storage.ide-shm
TGCTE/.vs/TGCTE/v16/Server/sqlite3/storage.ide-wal
TGCTE/TGCTE/ClientApp/src/app/cte/cte.component.html
TGCTE/TGCTE/ClientApp/src/assets/teste.js
TGCTE/TGCTE/ClientApp/src/index.html
TGCTE/TGCTE/ClientApp/src/teste - Cópia.js
TGCTE/TGCTE/TGCTE.csproj
