<h1>TG-Envios</h1>
<p>Tecnologias adotadas</p>
<ul>
  <li><a href='https://get.asp.net/'>ASP.NET Core</a> e <a href='https://msdn.microsoft.com/en-us/library/67ef8sbd.aspx'>C#</a> Plataforma e Back-End utilizado</li>
  <li><a href='https://angular.io/'>Angular</a> and <a href='http://www.typescriptlang.org/'>TypeScript</a> Código para intregação de eventos do lado do Cliente</li>
  <li><a href=''>HTML5</a> Front End da aplicação</li>
  <li><a href='http://getbootstrap.com/'>Bootstrap</a> Layout e Estilos</li>
  <li><a href=''>SQL Server</a> Gerenciador de Banco de dados</li>
</ul>
<p>Pendências</p>
<ul>
  <li>Identificação de Parâmetros</li>
  <li>Acesso ao Web Services de processamento</li>
  <li>Criação Serviço Importação dos Registro para o banco novo</li>
  <li>JOB para processamentos do Registro e exibição de Log de Atividades</li>
</ul>
<p>The <code>ClientApp</code> subdirectory is a standard Angular CLI application. If you open a command prompt in that directory, you can run any <code>ng</code> command (e.g., <code>ng test</code>), or use <code>npm</code> to install extra packages into it.</p>
